@model StokHaneV4.Models.TabKullanici

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="card shadow mb-4 ">
    <div class="card-header py-3"> <h6 class="m-0 font-weight-bold text-primary">Yeni Kullanıcı Oluştur</h6></div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                <h6 class="control-label col-md-10">İsim</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.kulisim, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.kulisim, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h6 class="control-label col-md-10">Soyisim</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.kulsoyisim, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.kulsoyisim, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h6 class="control-label col-md-10">Kullanıcı Adı</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.KulAdi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.KulAdi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <h6 class="control-label col-md-10">Kullanıcı Şifresi</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.kulsif, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.kulsif, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h6 class="control-label col-md-10">Eposta</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.eposta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.eposta, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h6 class="control-label col-md-10">Telefon</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tel, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h6 class="control-label col-md-10">Yetki Durumu</h6>
                <div class="col-md-10">
                    @Html.DropDownList("idyetki", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idyetki, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*<h6 class="control-label col-md-10">Son Erişim Tarihi</h6>*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.sonerisim, new { htmlAttributes = new {@Hidden=true,  @Value = DateTime.Now, @class = "form-control" } })
                    @if (false)
                    {
                        @Html.ValidationMessageFor(model => model.sonerisim, "Tarih biçimi : " + @DateTime.Now + " Şeklinde olmalıdır.", new { @class = "text-danger" })
                    }


                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-success" />
                    <a href='@Url.Action("Index", "TabKullanicis")'  class="btn btn-primary">Kullanıcı Sayfasına Dön</a>
                </div>
            </div>
        </div>
        }


    </div>


</div>
