@model StokHaneV4.Models.TabKullanici

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4 ">
    <div class="card-header py-3"> <h6 class="m-0 font-weight-bold text-primary">Kullanıcıyı silmek istediğinize emin misiniz ? </h6></div>
    <div class="card-body">
        <div>

            
            <dl class="dl-horizontal">
                <dt>
                    Kullanıcı Adı
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KulAdi)
                </dd>

                <dt>
                    İsim
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.kulisim)
                </dd>

                <dt>
                    Soyisim
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.kulsoyisim)
                </dd>

                <dt>
                    Eposta
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.eposta)
                </dd>

                <dt>
                    Telefon
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tel)
                </dd>

                <dt>
                    Son Erişim Tarihi
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sonerisim)
                </dd>

                <dt>
                    Şifre
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.kulsif)
                </dd>

                <dt>
                    Yetki
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TabYetki.Yetkiadi)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Sil" class="btn btn-danger" />
                    <a href='@Url.Action("Index", "TabKullanicis")' class="btn btn-primary">Kullanıcı Sayfasına Dön</a>
                </div>
            }
        </div>

    </div>


</div>
