@model StokHaneV4.Models.TabKullanici

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detaylar</h2>

<div>
    <h4>TabKullanici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KulAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KulAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kulisim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kulisim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kulsoyisim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kulsoyisim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eposta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sonerisim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sonerisim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kulsif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kulsif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TabYetki.Yetkiadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabYetki.Yetkiadi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idKullanici }) |
    @Html.ActionLink("Back to List", "Index")
</p>
