@model StokHaneV4.Models.Tabisletme

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tabisletme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.isletmeKod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isletmeKod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isletmeAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isletmeAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idisletme }) |
    @Html.ActionLink("Back to List", "Index")
</p>
