@model StokHaneV4.Models.TabHane

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4 ">
    <div class="card-header py-3"> <h6 class="m-0 font-weight-bold text-primary">Detaylar</h6></div>
    <div class="card-body">


        <div>

            <dl class="dl-horizontal">
                <dt>
                    Tavukhane Adı
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TavukhaneAdi)
                </dd>

                <dt>
                    İşletme Kod
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tabisletme.isletmeKod)
                </dd>
                <dt>
                    İşletme Adı
                </dt>
                <dd>
                    @Html.DisplayFor(Model=>Model.Tabisletme.isletmeAdi)
                </dd>

                <dt>
                    İşletme ID
                </dt>
                <dd>
                    @Html.DisplayFor(model=>model.Tabisletme.idisletme)
                </dd>

            </dl>
        </div>
        <p>
          
            <a href='@Url.Action("Edit","TabHanes",new { id = Model.idTavukhane })' class="btn btn-dark">Düzenle</a>
            <a href='@Url.Action("Index","TabHanes")' class="btn btn-primary">İptal</a>
        </p>


    </div>


</div>
