@model IEnumerable<StokHaneV4.Models.TabHane>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tavukhane Sayfası</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TavukhaneAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tabisletme.isletmeKod)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TavukhaneAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tabisletme.isletmeKod)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idTavukhane }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTavukhane }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idTavukhane })
        </td>
    </tr>
}

</table>
