@model IEnumerable<StokHaneV4.Models.TabHane>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card shadow mb-4 ">
    <div class="card-header py-3"> <h6 class="m-0 font-weight-bold text-primary">Tavukhaneler</h6></div>
    <div class="card-body">
        <div class="table-responsive">

            <table class="table">
                <tr>

                    <th>
                        İşletme Kodu
                    </th>
                    <th>
                        Tavukhane Adı
                    </th>
                    <th class="text-md-right">
                        <a href='@Url.Action("Create","TabHanes")' class="btn btn-success">Yeni tavukhane ekle</a>
                    </th>
                </tr>

                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tabisletme.isletmeKod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TavukhaneAdi)
                </td>

                <td class="text-md-right">

                    <a href='@Url.Action("Delete","TabHanes",new {id=item.idTavukhane})' class="btn btn-danger">Sil</a>
                    <a href='@Url.Action("Edit","TabHanes",new {id=item.idTavukhane})' class="btn btn-dark">Düzenle</a>
                    <a href='@Url.Action("Details","TabHanes",new {id=item.idTavukhane})' class="btn btn-primary">Detaylar</a>
                </td>
            </tr>
                }

            </table>

        </div>
    </div>


</div>


