@model IEnumerable<StokHaneV4.Models.TabUrunGenel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="card shadow mb-4 ">
    <div class="card-header py-3"> <h6 class="m-0 font-weight-bold text-primary">Stok Sayfası</h6></div>
    <div class="card-body">
        <div class="embed-responsive-item">
            <table class="table table-bordered " id="dataTable" align="center">

                <thead>
                    <tr>

                        <th>Ürün adı</th>
                        <th>Miktar</th>
                        <th>Miktar cins</th>
                        <th>Fiyat</th>
                        <th>Alım-satım-kullanım</th>
                        <th>İrsaliye Tarih</th>
                        <th>İrsaliye kod</th>
                        <th>İşlem yapan Kullanıcı</th>
                        <th class="text-md-right"><a href='@Url.Action("Create","TabUrunGenels")' class="btn btn-success">Yeni Kayıt Ekle</a></th>
                    </tr>
                </thead>


                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Taburun.UrunAdi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.miktar)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TabmiktarCins.miktarturu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fiyat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TabAlsatkul.alsatkultur)
                            </td>



                            <td>
                                @Html.DisplayFor(modelitem=>item.Tabirsaliye.girdiTarih)
                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.Tabirsaliye.irsaliyeKod)

                            </td>

                            <td>
                                @Html.DisplayFor(modelitem => item.TabKullanici.kulisim)
                                @Html.DisplayFor(modelitem => item.TabKullanici.kulsoyisim)
                            </td>

                            @*<td>
                                    @Html.DisplayFor(modelitem=>item.Aktiflik.Value)
                                </td>*@


                            <td class="text-md-right">
                                <a href=' @Url.Action("Delete","TabUrunGenels",new {id=item.idurungenel})' class="btn btn-danger">Sil</a>
                                <a href=' @Url.Action("Edit","TabUrunGenels",new {id=item.idurungenel})' class="btn btn-dark">Düzenle</a>
                                <a href=' @Url.Action("Details","TabUrunGenels",new {id=item.idurungenel})' class="btn btn-info">Detaylar</a>

                            </td>
                        </tr>
                    }


                </tbody>

            </table>

        </div>
    </div>
</div>