@model StokHaneV4.Models.TabUrunGenel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4 ">
    <div class="card-header py-3"> <h6 class="m-0 font-weight-bold text-danger">Silmek istediğinize emin misiniz ?</h6></div>
    <div class="card-body">





        <div>

            <dl class="dl-horizontal">
                <dt>
                    Miktar
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.miktar)
                </dd>

                <dt>
                    Fiyat
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fiyat)
                </dd>

                <dt>
                    Alım-Satım-Kullanım
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TabAlsatkul.alsatkultur)
                </dd>

                <dt>
                    İrsaliye kod
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tabirsaliye.irsaliyeKod)
                </dd>

                <dt>
                    Miktar tür
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TabmiktarCins.miktarturu)
                </dd>

                <dt>
                    Ürün Adı
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Taburun.UrunAdi)
                </dd>
                <dt>
                    Firma-1
                </dt>
                <dd>
                    @Html.DisplayFor(Model => Model.Tabirsaliye.firma)
                </dd>
                <dt>
                    Firma-2
                </dt>
                <dd>
                    @Html.DisplayFor(Model => Model.Tabirsaliye.firma2)
                </dd>
                <dt>
                    Tarih
                </dt>
                <dd>
                    @Html.DisplayFor(Model => Model.Tabirsaliye.girdiTarih)
                </dd>

                <dt>
                    İşlem yapan kullanıcı
                </dt>
                <dd>
                    @Html.DisplayFor(x => x.TabKullanici.kulisim)

                    @Html.DisplayFor(x => x.TabKullanici.kulsoyisim)
                </dd>
                <dt>Aktiflik</dt>
                <dd>
                    @Html.DisplayFor(x => x.Aktiflik)
                    
                </dd>


            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                   
                    <input type="submit" value="Sil" class="btn btn-danger" /> 
                    <a href='@Url.Action("Index","TabUrunGenels")' class="btn btn-primary">İptal</a>
                </div>
            }
        </div>



    </div>


</div>


