@model StokHaneV4.Models.Tabirsaliye

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="card shadow mb-4 ">
    <div class="card-header py-3"> <h6 class="m-0 font-weight-bold text-primary">Anasayfa</h6></div>
    <div class="card-body">



        <div>

            <dl class="dl-horizontal">
                <dt>
                    İrsaliye kod
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.irsaliyeKod)
                </dd>

                <dt>
                    Tarih
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.girdiTarih)
                </dd>

                <dt>
                    Firma-1
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.firma)
                </dd>

                <dt>
                   Firma-2
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.firma2)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Sil" class="btn btn-danger" /> 
                    <a href='@Url.Action("Index","Tabirsaliyes")' class="btn btn-primary">İptal</a>
                </div>
            }
        </div>

    </div>


</div>
