@model StokHaneV4.Models.Tabirsaliye

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tabirsaliye</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.irsaliyeKod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.irsaliyeKod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.girdiTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.girdiTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firma2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firma2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fiyat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idirsaliye }) |
    @Html.ActionLink("Back to List", "Index")
</p>
